---
layout: default
title: Scott Chamberlain
---
<h6>Articles</h6>
<ul class="unstyled articles">
    {% for post in site.posts %}
    <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <span class="arrow">&raquo;</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <a class="bar" href="#" title="{{ post.content | number_of_words }} words"
            style="width:{{ post.content | number_of_words | divided_by:8 | plus: 10 }}px;">&nbsp;</a>
    </li>
    {% endfor %}
</ul>

<h6>Keywords</h6>
<!-- tag cloud css: font-size:{ tag[1].size | times:2 | plus:12 }px; line-height:28px; -->
<ul class="unstyled tags">
    {% for tag in site.tags %}
    <li>
        <a href="/tag/{{ tag[0] | replace:' ','-' | replace:'.','' }}/">{{ tag[0] }}</a>
        ({{ tag[1].size }}){% unless forloop.last %}, {% endunless %}
    </li>
    {% endfor %}
</ul>

<h6>Open Source Projects</h6>
<ul class="unstyled projects">
    {% for project in site.projects %}
    <li>
        <a href="{{ project.url }}" class="title">{{ project.title }}</a>
        <span class="arrow">&raquo;</span>
        {{ project.desc }} <em>{{ project.tech }}</em></li>
    </li>
    {% endfor %}
</ul>


<h6>Pages</h6>
<ul class="unstyled projects">
    <li>
    <!-- <span class="title">Elsewhere online</span> -->
    <span class="arrow">&raquo;</span>
    <a href="/about">About</a>
    <a href="/bio">Bio</a> /
    <a href="/publications">Publications</a> /
    <a href="/blogs">Blogs</a> -->
	</li>
</ul>


<script>
var bars = function(repos) {
    window.repos = repos;
    var normalize = function(s) {
        return s.toLowerCase().replace(/-| /g, '');
    };
    var named = {};
    $.each(repos.data, function(i, repo) {
        named[normalize(repo.name)] = repo;
    });
    var watchers = 0, forks = 0;
    $('.projects li').each(function(i, project) {
        project = $(project);
        var pluralize = function(i) {
            return i != 1 ? 's' : '';
        };
        var text = project.find('a').text();
        var title = normalize(text);
        var abbr = $.map(text.split(' '), function(s, i) {
                       return s.substr(0, 1).toLowerCase();
                   }).join('');
        var repo = named[title] || named[abbr];
        var css = {width: (((repo.watchers + repo.forks) / 2.3) + 10) + 'px'};
        var tooltip = repo.watchers + ' watcher' + pluralize(repo.watchers) +
                      ', ' + repo.forks + ' fork' + pluralize(repo.forks);
        var bar = $('<a>').addClass('bar').css(css).attr('title', tooltip);
        $(project).append(bar);
        watchers += repo.watchers;
        forks += repo.forks;
    });
    /*
    $('.projects').append('<li class="totals">' + watchers + ' watchers, '
                          + forks + ' forks</li>');
    var articles = 0, words = 0;
    $.each($('.articles .bar'), function(i, post) {
        articles += 1;
        words += parseFloat($(post).attr('title'));
    });
    $('.articles').append('<li class="totals">' + words + ' words, '
                          + articles + ' articles</li>');
    */
    $('.bar').click(function() {
        return false;
/*    }).mouseover(function() {
       $(this).parent().addClass('over')
    }).mouseout(function() {
       $(this).parent().removeClass('over')
*/
    }).twipsy({placement: 'right', animate: false});
};
if (window.repos) {
    bars(window.repos);
} else {
    $(document).ready(function() {
        var src = 'https://api.github.com/users/SChamberlain/repos?callback=bars';
        $('head').append($('<script>').attr('src', src));
    });
}
</script>
