<div class="a_post">
  <h2 class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="article_infos">
  Published: {{ post.date | date: '%d %B %Y' }}
  &nbsp;|&nbsp;
  Tags: 
  {% for tag in post.tags %}
  {% if tag == page.name %}{{ tag }}&nbsp;{% else %}<a href="/tags/{{ tag | downcase }}.html">{{ tag }}</a>&nbsp;{% endif %}
  {% endfor %}
  </p>
  <div class="markdown">
    {{ post.content }}
  </div>
  <p class="article_link"><a class="link readmore" href="{{ post.url }}" title="{{ post.title }}">Read more »</a></p>
</div> 

