<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://schamberlain.github.com">Recology</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://schamberlain.github.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="/about.html">About</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="/R-esources.html">R-esources</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://feeds.feedburner.com/github/wpna" title="Go to feedburner" target="_blank">RSS</a> 
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/ropensci" title="Go to rOpenSci on GitHub" target="_blank">rOpenSci</a></li>	
				</ul>
		  </li>		  

			<form class="navbar-search pull-right" method=get action="http://google.com/search">
				<input type=hidden name=q value=site:schamberlain.github.com>
				<input type=text class=search-query name=q>
				<button type=submit class="btn btn-inverse">Search</button>
			</form>
		  <li class="divider-vertical"></li>
		</ul>		
	  </div>
	</div>
  </div>
</div>