<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <!-- <a class="brand" href="/">Recology</a> -->
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="/"><i class="icon-home icon-large" style="vertical-align:text-bottom;" rel="tooltip" data-placement="bottom" title="Home page"></i></a>
		  </li>
		  <!-- <li class="divider-vertical"></li> -->
		  <li class="">
			<a href="/about.html"><i class="icon-info-sign icon-large" style="vertical-align:text-bottom;" rel="tooltip" data-placement="bottom" title="About"></i></a>
		  </li>
		  <!-- <li class="divider-vertical"></li> -->
		  <li class="">
			<!-- <a href="/R-esources.html">R-esources</a> -->
			<a href="/R-esources.html"><i class="icon-book icon-large" style="vertical-align:text-bottom;" rel="tooltip" data-placement="bottom" title="R resources"></i></a>
		  </li>
		  <!-- <li class="divider-vertical"></li> -->
		  <li class="">
			<!-- <a href="http://feeds.feedburner.com/github/wpna" title="Go to feedburner" target="_blank">RSS</a>  -->
			<a property="account" alt="rss" href="http://feeds.feedburner.com/github/wpna"><i class="icon-rss icon-large" style="vertical-align:text-bottom;" rel="tooltip" data-placement="bottom"title="RSS for Recology"></i></a>
		  </li>	
		  <!-- <li class="divider-vertical"></li> -->
		  <li class="">
			<a alt="twitter" href="https://twitter.com/recology_"><i class="icon-twitter icon-large" style="vertical-align:text-bottom;" rel="tooltip" data-placement="bottom" title="Follow Recology on Twitter"></i></a>
		  </li>	

		  <!-- <li class="">
			<a href="http://ropensci.org/" alt="ropensci"><i style="vertical-align:text-bottom;" rel="tooltip" data-placement="bottom" title="If you are here, you will like rOpenSci"></i>rOpenSci</a>
			<a href="http://ropensci.org/" rel="tooltip" data-placement="bottom" title="If you are here, you will like rOpenSci">rOpenSci</a>
		  </li>	 -->
		</ul>
			<form class="navbar-search pull-right" method="get" action="http://google.com/search">
				<input type="hidden" name="q" value="site:schamberlain.github.io"/>
				<input type="text" class="search-query" name="q">
				<button class="btn btn-mini" type="submit"><i class="icon-search"></i></button>
				<!-- <button type=submit class="btn btn-inverse">Search</button> -->
			</form>
		  <!-- <li class="divider-vertical"></li> -->
		<!-- </ul>		 -->
	  </div>
	</div>
  </div>
</div>