<!-- <div> -->
<div class="row">
	<h1 align="center">{{ page.title }}</h1>
	<div class="span2">
	<h4>
		<strong>
			<i class="icon-calendar icon-large"> </i> {{ page.date | date: "%B %e, %Y" }}  <br><br>
			<!-- <small> <a href="http://schamberlain.github.com{{ page.url }}#disqus_thread">Comments</a></small> -->
			<i class="icon-pencil icon-large"> </i> {{ content | number_of_words }} words
			<!-- <i>{{ content | number_of_words }} words</i> -->
		</strong>
		<br><br>

		<i class="icon-tags icon-large"></i>&nbsp;
		{% for tag in page.tags %} <a href="/tags/{{ tag }}" class="badge" rel="tooltip" data-placement="bottom" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="blog_tag">{{ tag }}</span></a> {% if forloop.last != true %} {% endif %} {% endfor %}

		<br><br><br>
		
		<p>{% if page.previous.url %} <a href="{{page.previous.url}}" ><i class="icon-circle-arrow-left icon-large" rel="tooltip" data-placement="bottom" title="Previous Post: {{page.previous.title}}"></i></a> 	{% endif %}   {% if page.next.url %} 	<a href="{{page.next.url}}"><i class="icon-circle-arrow-right icon-large" rel="tooltip" data-placement="bottom" title="Next Post: {{page.next.title}}"></i></a> 	{% endif %} </p> 
	</h4>
	</div>		
	<!-- <div class="span8"> -->
		<!-- <p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a> 	{% endif %}   {% if page.next.url %} 	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a> 	{% endif %} </p> 
	</div> -->

<!-- <div class="row"> -->
	<!-- <div class="span12 column"> -->
<div class="span8">
	<hr>
	<!-- </div> -->
<!-- </div> -->