<div>
<div class="row">
	<h1 align="center">{{ page.title }}</h1>
	<div class="span2">
	<h4>
		<strong>
			<i class="icon-calendar icon-large"> </i> {{ page.date | date: "%B %e, %Y" }}  <br><br>
			<i class="icon-pencil icon-large"> </i> {{ content | number_of_words }} words <br><br>
			<i class="icon-bar-chart"></i> views today {{ page.url | gauges_views }} <br><br>
			<i class="icon-user icon-large"> </i> <a href="/about.html">{{ page.author }}</a>
		</strong>
		<br><br>

		<i class="icon-tags icon-large"></i>&nbsp;
		{% for tag in page.tags %} <a href="/tags/{{ tag }}" class="badge" rel="tooltip" data-placement="bottom" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="blog_tag">{{ tag }}</span></a> {% if forloop.last != true %} {% endif %} {% endfor %}

		<br><br><br>
		
		<p>{% if page.previous.url %} <a href="{{page.previous.url}}" ><i class="icon-circle-arrow-left icon-2x" rel="tooltip" data-placement="bottom" title="Previous Post: {{page.previous.title}}"></i></a> 	{% endif %}  &nbsp;&nbsp;  {% if page.next.url %} 	<a href="{{page.next.url}}"><i class="icon-circle-arrow-right icon-2x" rel="tooltip" data-placement="bottom" title="Next Post: {{page.next.title}}"></i></a> 	{% endif %} </p> 
	</h4>
	</div>

<!-- <div class="row"> -->
	<!-- <div class="span12 column"> -->
<div class="span8">
	<hr>
	<!-- </div> -->
<!-- </div> -->