
.container {width:640px;}
footer {border-top:3px solid #eee; margin:30px 0;}

h1 {font-size:24px; border-bottom:3px solid #eee; padding:10px 0; margin:20px 0 0 0;}
h4 {margin:20px 0 0 0;}
h6 {margin:20px 0 5px 0;}
h6 a {font-weight:normal;}

p, li {line-height:20px;}
.date {font-family:monospace;}
.arrow {margin:0 5px; color:#666;}
.tags li {color:gray; white-space:nowrap; display:inline-block;}
.title {float:left; min-width:135px;}
.projects em {color:#bfbfbf; margin-left:2px;}
.bar {background:#eee; height:13px; margin-top:4px; float:right; cursor:default;}
.bar:hover {text-decoration:none; background:#ccc;}
.totals {text-align:right; font-style:italic; color:#ddd; margin:7px 0 -10px 0; font-size:11px;}

code {background:#eee;}
pre {background:#222; padding:10px;}
pre code {padding:0; background-color:inherit !important;}
pre code * {
    font-weight:normal !important; background-color:inherit !important;
    text-decoration:none !important;
}
code, code * {font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;}
pre, table {margin:20px 0;}

tr.top th, td.y, td.n {text-align:center;}
td.y {color:green;}
td.n {color:red;}
td a, td em {white-space:nowrap;}
td p {margin:20px 0;}

blockquote {margin:30px;}
blockquote p {font-style:italic;}

@media all and (max-width: 640px) {
  .container {width:auto; padding-left:10px; padding-right:10px;}
  .bar {display:none;}
  .title, .date {display:block; float:none;}
}
