---
---

body {
  padding: 0 15px;
}

.center {
  text-align: center;
}

section {
  font-size: 16px;
  line-height: 26px;
}

a {
  color: #3A539C;
  text-decoration: none;

  &:hover {
    color: #1C2D66;
  }
}

hr {
  border: 0;
  border-top: 1px solid #f0f0f0;
}

header {
  border-bottom: 1px solid #f0f0f0;
  margin: 25px auto 0 auto;
  max-width: 650px;
  padding: 10px 0;

  nav {
    float: right;
    line-height: 42px;

    span {
      margin-left: 15px;

      a {
        color: #333;
        margin-left: 5px;

        img {
          height: 16px;
          margin-bottom: 5px;
          vertical-align: middle;
          width: 16px;
        }
      }
    }
  }

  h1 {
    font-size: 42px;
    font-weight: normal;
    line-height: 42px;

    a {
      color: #333;
    }
  }
}

section {
  margin: 0 auto;
  max-width: 650px;

  h3 {
    margin: 15px 0;
  }

  p {
    margin: 15px 0;
  }

  ul {
    list-style: disc;
    margin-left: 20px;

    li {
      margin: 15px 0;
    }
  }

  ol {
    margin-left: 20px;

    li {
      margin: 15px 0;
    }
  }

  .gallery {
    text-align: center;

    img {
      border: 1px solid #f0f0f0;
      height: 75px;
      margin: 5px;
      width: 75px;
    }
  }

  .image {
    text-align: center;

    img {
      border: 1px solid #f0f0f0;
    }
  }
}

article {

  header {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    h1 {
      font-size: 20px;
      font-weight: bold;
      line-height: 20px;
      margin: 15px 0;
    }

    time {
      float: right;
      font-size: 12px;
      line-height: 20px;
      margin-left: 5px;
    }
  }

  .old-article {
    background-color: #f0d5c8;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
  }

  blockquote {
    margin: 5px 25px;
  }

  .gist-meta {
    font-size: 12px !important;
    padding: 0 8px !important;
  }

  .code-snippet {
    background-color: #f8f8ff;
    border: 1px solid #dedede;
    overflow: auto;
    padding: 0 15px;
  }
}

footer {
  border-top: 1px solid #f0f0f0;
  margin: 15px auto 50px auto;
  max-width: 650px;
  padding: 10px 0;

  iframe {
    margin-right: 5px;
  }

  #copyright {
    float: right;
    font-size: 10px;
    line-height: 20px;
  }
}