<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!--[if !(lt IE 8)]><!-->
    <script type="text/javascript">
      (function(){
        var e = document.createElement('script'); e.type='text/javascript'; e.async = true;
        e.src = 'https://www.eff.org/doa/widget.min.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
      })();
    </script>
    <!--<![endif]-->

  </body>

</html>
