---
layout: default
tweet: true
---

<article>
  <header>
    <time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %d, %Y" }}</time>
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}
</article>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    if((new Date()).getTime() - new Date($('article header time').attr('datetime')) > 63113851900) {
      $('article header').after($("<div class=\"old-article\">Articles this old may no longer be relevant.</div>"));
    }
  });
</script>